@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans');

$font-stack:    Helvetica, sans-serif;
$primary-color: #4E5151  ;
$color-background: #DFF7F7;

body, html {
  height: 100%;
  font: 100% $font-stack;
  color: $primary-color;
  color-background:  #eef7fa;
}


.card-head, .card-header {
  padding-top: 3.5em;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: lowercase;
  color: #343434;
}